    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.input(:email, autofocus: true) %>
        <%= f.input(:password, autocomplete: "off") %>
        <% if devise_mapping.rememberable? -%>
        <div class="checkbox">
          <label>
            <input type="checkbox" id="checkbox2" name="user[remember_me]">
            <span class="checkbox-material"></span> Keep me logged in!
          </label>
        </div>
        <% end -%>
        <div class="center">
          <button type="submit" class="btn btn-raised btn-block btn-primary btn-lg">Entrar</button>
        </div>
        <div class="center">
            <%= link_to("Forgot your passwod?", new_password_path(resource_name), class: 'btn btn-simple') %>
        </div>
    <% end %>
