<!DOCTYPE html>
<html>
  <head>
    <title>SimpleChat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="col-md-12 col-offset-2">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
